
.conteiner{
    padding: 1rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.subconteiner{
    padding: 1rem;
    margin-right: 4rem;
    width: 65%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.sub2conteiner{
    width: 88%;
    margin-top: 2rem;
}

.sub2conteiner h1 {
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 45px;
    font-weight: 600
}

.sub2conteiner2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
