
.conteiner{
    padding: 1rem;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.subconteiner{
    padding: 1rem;
    margin-right: 2rem;
    width: 68%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.sub2conteiner{
    width: 85%;
}

.sub2conteiner h1 {
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 38px;
    font-weight: 600
}

.sub2conteiner2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
